Source: taxi-zebra
Section: comm
Priority: optional
Maintainer: Didier Raboud <didier.raboud@liip.ch>
Build-Depends: bash-completion,
               debhelper-compat (= 12),
               dh-python,
               python3,
               python3-freezegun,
               python3-pytest,
               python3-setuptools,
               python3-six (>= 1.9.0)
Standards-Version: 4.3.0
Homepage: https://github.com/sephii/taxi-zebra
Vcs-Git: https://github.com/sephii/taxi-zebra.git
Vcs-Browser: https://github.com/sephii/taxi-zebra

Package: taxi-backend-zebra
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Breaks: taxi (<< 4.5.1~)
Provides: taxi-backend
Enhances: taxi
Description: Taxi backend to Liip's Zebra
 This is the Zebra backend for Taxi. It exposes the zebra protocol to
 push entries and fetch projects and activities from Zebra.
